body {
    background: linear-gradient(45deg, red, blue) no-repeat fixed;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 2em;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;;
}

h1 {
    text-decoration: underline;
}

h3 {
    font-size: 0.7em;
    text-transform: none;
    font-family: sans-serif;
    font-weight: 200;;
    background-color: rgba(0, 0, 0, 0.1)
}

h1, h2, h3 {
    text-shadow: 1px 1px 2px black;
}

button, button:hover, button:active, button:focus {
    border-radius: 10px;
    padding: 1% 2% 2%;
    color: white;
    background-color: blue;
    border: 1px solid darkblue;
    margin-top: 3%;
    font-size: 1.3em;
}
